<div class="flickrbox" data-dojo-attach-event="onmouseenter:mouseEnterPhoto,onmouseleave:mouseLeavePhoto">
	<a href="${photoPageurl}" target="_flickr" title="${flickrLinkTitle}"><img src="${photo_url}"></a>
	<div class="panoramioLink">
		<img src="images/flickr.png" class="middle" title="Flickr">
		<a href="${photoPageurl}" title="${flickrLinkTitle}" target="_flickr" class="middle">${photoDisplayTitle}</a>
	</div>
	<div class="dateTakenNode" style="display: none" data-dojo-attach-point="dateTakenNode"></div>
</div>