<div class="box" data-dojo-attach-event="onmouseenter:mouseEnterPhoto,onmouseleave:mouseLeavePhoto">
	<a href="http://static.panoramio.com/photos/original/${photo.photo_id}.jpg" target="_flickr" title="Click to see full size image"><img src="${photo.photo_file_url}" data-dojo-attach-point="panoramioImage"></a>
	<div class="panoramioLink" style="display:${displayTitle}">
		<img src="images/panoramio.png" class="middle" title="Panoramio">
		<a href="${photo.photo_url}" title="${panoramioLinkTitle}" target="_flickr" class="middle">${photoDisplayTitle}</a>
	</div>
</div>