html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Lucida Sans, Lucida Grande, Arial;
	font-size: 12px;
	color: #333;
	overflow: hidden;
}
#container {
	height: 100%;
}
#topPane {
}
#map {
	min-width: 800px;
	height: 100%;
}
#sitesArea {
	max-width: 800px;
}
#speciesArea {
	margin-top: 20px;
	max-width: 800px;
}
#speciesGrid {
}
#speciesCount {
	padding-top: 10px;
}
h1 {
	margin-top: 0.5em;
	display: inline;
}
h2 {
	margin-top: 0px;
	padding: 5px;
	background-color: #f0f0f0;
	font-weight: normal;
}
.filtercontrols {
	padding: 10px;
}
.dgrid-cell {
	vertical-align: middle;
}
.field-country {
	width: 15em;
}
.field-name {
	width: 24em;
}
.field-total_charisma {
	width: 3.5em;
}
.field-average_charisma {
	width: 3.5em;
}
.field-ln_charisma {
	width: 3.5em;
}
.field-sqr_charisma {
	width: 3.5em;
}
.field-species_richness {
	width: 3.5em;
}
.field-total_red_list_status {
	width: 3.5em;
}
.field-total_charisma_score {
	width: 3.5em;
}
.field-taxon {
	width: 18em;
}
.field-common_name {
	width: 18em;
}
/*.claro .dgrid {
 border: none;
 }
 .dgrid-scroller {
 overflow-y: auto;
 }*/