<div class="box">
	<div class="mainDiv">
		<div class="flickrImgDiv">
			<a data-dojo-attach-point="flickrLinkNode" title="Click to go to the Flickr page" target="_new"> <img data-dojo-attach-point="flickrImgNode"></a>
		</div>
		<div class="redlistImgHolder">
			<span><img data-dojo-attach-point="red_list_statusImg" style="width:22px,height:22px"></span>
		</div>
		<div class="speciesname">
			<div data-dojo-attach-point="common_nameNode" class="commonname"></div>
			<div data-dojo-attach-point="binomialNode" class="binomial"></div>
		</div>
		<div class="statsNode">
			<div class="positionImage">
				<span data-dojo-attach-point="positionNode" class="positionText"></span>
				<span><img data-dojo-attach-point="positionImgNode" src="images/star.png"></span>
			</div>
			<span data-dojo-attach-point="flickrImgCount"></span><span> images</span>
			<span><img data-dojo-attach-point="warningImgNode" src="images/caution.png" class="warningNode"></span>
		</div>
	</div>
</div>