.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
  color: white;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.image {
  position: absolute;
  top: 14px;
  left: 12px;
}

.classified_image {
  margin: 10px;
  position: absolute;
  top: 1px;
}

.imageCell {
  width: 722px;
  height: 722px;
  padding-left:10px
}

.buttonCell {
  text-align: left;
  padding: 10px;
  vertical-align: top;
}

.imageBackground {
  width: 704px;
  height: 704px;
  border: 1px solid lightgray;
  position: absolute;
  left: 9px;
  top: 11px;
  color: lightgray;
  /* z-index: -1; */
}

.citation {
  /* position: absolute; */
  padding: 0px 20px;
  text-align: left;
}

.model{
  text-align: left;
  padding: 0px 15px;
  line-height: 16px;
}
.esri_map {
  width: 700px;
  height: 700px;
  /* position: absolute;
  left: 12px;
  top: 12px;   */
}

.span {
  padding-left: 20px;
  padding-right: 20px;
}

.geeLoading {
  color: gray;
  width:200px;
  text-align: center;
}

.tree_crown_outer {
  margin-top: 10px;
}

.status_box {
  position: absolute;
  left: 270px;
  top: 320px;
  max-width: 200px;
}

.status_text {
  color: white;
  font-size: 18px;
  width:200px;
  text-align: center;
}
.center{
  height: 150px;
  display:none;
}
.controls_container{
    margin-left: 7px;
    margin-top: 20px;  
}
.checkbox{
  
}
.checkbox_nested{
  margin-left: 10px;
}
.checkbox_container{
  display:inline-block;
}
.checkbox_label{
  margin-bottom: 0px;
  margin-left:5px;
  width:55px;
  font-size:15px;
}
.slider_container{
  display:inline-block;
  width:50px;
  margin-bottom: 0px;
  vertical-align: top;
  max-height:20px;
}
/*input{*/
/*  width: 700px;*/
/*  font-size:9px;*/
/*}*/
.trees_detected_count{
  font-size: 42px;
  color:coral;
}
.trees_detected_count2{
position: relative;
top: -15px;
left:2px;
}
.trees_detected{
  font-size: 22px;
  color:coral;
  top:-10px;
}