<div class="floatBox">
	<label>Enter a name for the algorithm:</label>
	<div>
		<input type="text" data-dojo-type="dijit/form/TextBox" id="algorithmName" data-dojo-attach-point="textInput" data-dojo-attach-event="onkeypress:_keypress"/>
		<button id="okButton" data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onclick:okClicked">
			OK
		</button>
		<button id="cancelButton" data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onclick:cancelClicked">
			Cancel
		</button>
	</div>
</div>