<div>
	<table class="noBorder">
		<tr id="sliderRow">
			<td id="slider">
				<div>
					<table id="sliderBarTable" class="noBorder">
						<tr id="sliderBar" />
					</table>
					<table id="sliderTicsTable" class="noBorder">
						<tr id="sliderTics" />
					</table>
					<table id="sliderLabelsTable" class="noBorder">
						<tr id="sliderLabels" />
					</table>
				</div>
			</td>
			<td id="sliderControls">
				<div>
					<img src="../widgets/images/down.png" id="configImg" title="Click to change settings" data-dojo-attach-event="onclick:showSettings"><img src="../widgets/images/close.png" id="closeImg" title="Click to hide" data-dojo-attach-event="onclick:hide">
				</div>
				<div id="yearMonth"></div>
			</td>
		</tr>
	</table>
	<div id="ImageryTimeSliderControls">
		<table class="noBorder geeProvider sentinelProvider" style="width: 100%;">
			<tr>
				<td>
					<table class="noBorder geeProvider">
						<tr>
							<td>
								<div>Display using</div>
							</td>
							<td>
								<div>
									<select id="bandsSelector" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:bandsChanged">
							<option value="Red,Green,Blue" selected="selected">Red,Green,Blue</option>
							<option value="NIR,Green,Blue">NIR,Green,Blue</option>
							<option value="SWIR2,NIR,Red">SWIR,NIR,Red</option>
						</select>
								</div>
							</td>
						</tr>
					</table>
					<table class="noBorder geeProvider sentinelProvider">
						<tr>
							<td>
								<div>Use images with &lt;</div>
							</td>
							<td>
								<div>
									<input id="cloudMaxSpinner" data-dojo-attach-point="cloudSpinner" data-dojo-type="dijit/form/NumberSpinner" data-dojo-props=" minimum: 0, maximum: 100, value: 10" style="width: 45px" data-dojo-attach-event="onChange:cloudMaxChanged,onKeyDown:blurCloudMaxSpinner">
								</div>
							</td>
							<td>
								<div>% cloud</div>
							</td>
						</tr>
					</table>
					<table class="noBorder geeProvider sentinelProvider">
						<tr>
							<td>
								<div>Filter by month</div>
							</td>
							<td>
								<div>
									<select id="monthSelector" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:monthChanged" data-dojo-attach-point="monthSelector">
							<option value="None" selected="selected">None</option>
							<option value="01" selected="selected">Jan</option>
							<option value="02" selected="selected">Feb</option>
							<option value="03" selected="selected">Mar</option>
							<option value="04" selected="selected">Apr</option>
							<option value="05" selected="selected">May</option>
							<option value="06" selected="selected">Jun</option>
							<option value="07" selected="selected">Jul</option>
							<option value="08" selected="selected">Aug</option>
							<option value="09" selected="selected">Sep</option>
							<option value="10" selected="selected">Oct</option>
							<option value="11" selected="selected">Nov</option>
							<option value="12" selected="selected">Dec</option>
						</select>
								</div>
							</td>
						</tr>
					</table>
					<table class="noBorder sentinelProvider">
						<tr>
							<td>
								<div>Image sorting</div>
							</td>
							<td>
								<div>
									<select id="prioritySelector" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:priorityChanged">
							<option value="mostRecent" selected="selected">Most recent on top</option>
							<option value="leastRecent">Least recent on top</option>
							<option value="leastCC">Least cloudy on top</option>
							<!--<option value="leastTimeDifference">Least time difference between images</option>-->
							<!--<option value="maximumViewingElevation">Maximum viewing elevation</option>--> <!--LOOKS LIKE THESE PARAMETERS ARE NO LONGER SUPPORTED-->
						</select>
								</div>
							</td>
						</tr>
					</table>
					<table class="noBorder sentinelProvider">
						<tr>
							<td>
								<div>Show resampled imagery</div>
							</td>
							<td>
								<div>
									<select id="previewSelector" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:previewChanged">
							<option value="0" selected="selected">None</option>
							<option value="1">From 200m/pixel to 1500m/pixel</option>
							<option value="2">From 200m/pixel to global</option>
							<!--<option value="leastTimeDifference">Least time difference between images</option>-->
							<!--<option value="maximumViewingElevation">Maximum viewing elevation</option>--> <!--LOOKS LIKE THESE PARAMETERS ARE NO LONGER SUPPORTED-->
						</select>
								</div>
							</td>
						</tr>
					</table>
					<table class="noBorder sentinelProvider">
						<tr>
							<td>
								<div>Atmospheric correction</div>
							</td>
							<td>
								<div>
									<select id="atmcSelector" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:atmcChanged">
							<option value="NONE">None</option>
							<option value="DOS1" selected="selected">DOS1</option>
							<option value="ATMCOR">ATMCOR</option>
						</select>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td style="vertical-align: top;">
					<table class="noBorder geeProvider">
						<tr>
							<td>
								<div>Use Sentinel 2 only</div>
							</td>
							<td>
								<div>
									<input id="copernicusOnlyCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:copernicusChanged" />
								</div>
							</td>
						</tr>
					</table>
					<table class="noBorder geeProvider">
						<tr>
							<td>
								<div>Include stripy images</div>
							</td>
							<td>
								<div>
									<input id="showSLCCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:slcChanged" />
								</div>
							</td>
						</tr>
					</table>
					<table class="noBorder sentinelProvider">
						<tr>
							<td>
								<div>Show image outlines</div>
							</td>
							<td>
								<div>
									<input id="showOutlinesCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:outlinesChanged" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>Show image dates</div>
							</td>
							<td>
								<div>
									<input id="showDatesCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:datesChanged" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>Show image IDs</div>
							</td>
							<td>
								<div>
									<input id="showIdsCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:idsChanged" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>Fill areas with valid data</div>
							</td>
							<td>
								<div>
									<input id="fillCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:fillChanged" />
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div>Replace cloudy parts of image</div>
							</td>
							<td>
								<div>
									<input id="replaceCloudsCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:cloudCorrectionChanged" />
								</div>
							</td>
						</tr>
				</td>
			</tr>
			</<table>
			<!--<tr>-->
			<!--	<td><div>Draws the areas which are covered with clouds</div></td>-->
			<!--	<td>-->
			<!--		<div>-->
			<!--			<input id="cloudsCheckbox" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-event="onChange:cloudsChanged" />-->
			<!--		</div>-->
			<!--	</td>-->
			<!--</tr>-->
			<!--LOOKS LIKE THE CLOUDS PARAMETER IS NO LONGER SUPPORTED ON SENTINEL-HUB
		</table>
		<div id="helpImage">
			<img src="../widgets/images/info.png" id="info" title="Show Help" data-dojo-attach-event="onCLick:openInfo">
		</div>
	</div>
</div>
