<div style="margin: 10px;">
	<table class="refBox">
		<tr style="font-size: 11px">
			<td style="min-width: 77px"><img height="100" src="${publicationImageurl}" title="${publicationName}"></td>
			<td style="height: 100%;display: inline-table"><table style="height: 100%" title="${teaser}">
					<tr style="font-size: 13px">
						<td>&apos;${title}&apos;</td>
					</tr>
					<tr style="height: 100%">
						<td></td>
					</tr><tr>
						<td>${authors}</td>
					</tr>
					<tr>
						<td><span style="font-style: italic;">
					
					${publicationName}
					</span>
					</td>
					</tr><tr>
						<td>${date}</td>
					</tr>
					<tr>
						<td><a href="${viewOnlineUrl}" target="_blank">${viewOnlineUrl}</a></td>
					</tr>
				</table></td>
		</tr>
	</table>
</div>