<div id='siteImage'><img src='images/loading.gif' id='loading'><img id='geeimage'>
</div>
<div style='width:200px;font-size:x-small'>
	<table style='width:100%'>
		<tr>
			<td class='col1'>Objectid:</td><td>${objectid}</td>
		</tr>
		<tr>
			<td class='col1'>Longitude:</td><td>${lng}</td>
		</tr>
		<tr>
			<td class='col1'>Latitude:</td><td>${lat}</td>
		</tr>
		<tr>
			<td class='col1'>Sceneid:</td><td>${sceneid:shorten}</td>
		</tr>
		<tr>
			<td class='col1'>Cloud cover:</td><td>${cloud_cover}</td>
		</tr>
		<tr>
			<td class='col1'>Sun elevation:</td><td>${sun_elevation}</td>
		</tr>
		<tr>
			<td class='col1'>Predicted class:</td><td>${predicted_class_label}</td>
		</tr>
		<tr>
			<td class='col1'>Validated class:</td><td>${actual_class_label}</td>
		</tr>
	</table>
</div>