body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

svg {
    position: absolute;
    pointer-events: none !important;
}

.mapboxgl-popup-content {
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    color: rgba(25, 25, 25, 0.9);
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    border: 3px solid #ffffff;
}

.mapboxgl-popup-tip {
    display: none;
}

.popupTable {
    padding: 8px;
}

.layer {
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.propName {
    font-variant: small-caps;
    padding-left: 5px;
}

.propValue {}

.name {
    font-size: 19px;
    padding: 2px 5px 10px 0px;
    text-align: center;
}
/*
Menu styles for the layer controls
*/
#layers {
    background: #fff;
    position: absolute;
    z-index: 10000000000;
    top: 60px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', sans-serif;
}

#layers a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}

#layers a:last-child {
    border: none;
}

#layers a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#layers a.active {
    background-color: #3887be;
    color: #ffffff;
}

#layers a.active:hover {
    background: #3074a4;
}
