html, body {
	width: 100%;
	height: 100%;
	margin: 10px;
	padding: 0;
	overflow: hidden;
}

#title {
	font-size: 22px;
	padding-bottom: 10px;
}

#falseColour2012MapDiv, #rgb2012MapDiv, #falseColourMapDiv, #rgbMapDiv {
	width: 600px;
	height: 600px;
}

.mapPane {
	display: inline-block;
	vertical-align: top;
}

#actualClass {
	font-size: 24px;
	width: 600px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

#tickImage {
	display: none;
	position: relative;
	left: 360px;
	top: -30px;
}

.OTHER_VEGETATION {
	background-color: #9acd32;
	color: white;
}

.BARE_SOIL {
	background-color: #a0522d;
	color: white;
}

.PAVED_ROAD {
	background-color: #696969;
	color: white;
}

.DIRT_ROAD {
	background-color: #808080;
	color: white;
}

.WATER {
	background-color: #0000cd;
	color: white;
}

.URBAN {
	background-color: #4b0082;
	color: white;
}

.OTHER {
	background-color: #FFFFFF;
	color: black;
}

.EUCALYPTUS {
	background-color: #9aad32;
	color: white;
}

.DECIDUOUS {
	background-color: #9a8d32;
	color: white;
}

.PINE {
	background-color: #9a6d32;
	color: white;
}

.YOUNG_PINE {
	background-color: #B8843D;
	color: white;
}

.DEAD_TREE {
	background-color: #9a4d32;
	color: white;
}

.UNKNOWN_TREE {
	background-color: #9a2d32;
	color: white;
}
.NOT_CLASSIFIED {
	background-color: #9a2d32;
	color: white;
}