.imageryTimeSlider {
	position: absolute;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 6px;
	/*z-index: 2147483647;*/
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px solid #CFCFCF;
	border-radius: 4px;
	box-sizing: content-box !important;
	min-width: 510px;
	/* default size*/
	min-height: 54px;
	/* default size*/
}

.dijit {
	box-sizing: content-box;
}

.dijitPopup {
	/* when in full screen mode the browser sets the z-index to 2147483647 and it cannot be overridden so this makes sure that the popups are still visible*/
	z-index: 2147483647!important;
}

.dijitDialog {
	/* when in full screen mode the browser sets the z-index to 2147483647 and it cannot be overridden so this makes sure that the popups are still visible*/
	z-index: 2147483647!important;
}

.dijitArrowButtonInner {
	box-sizing: content-box;
}

.imageryTimeSlider table {
	border-spacing: 0px;
	border-collapse: separate;
	width: auto;
}

.noBorder {
	border: none;
}

.imageryTimeSlider tr {
	text-align: left;
	line-height: normal;
}

.imageryTimeSlider td {
	padding: 1px;
}

#sliderRow {
	height: 54px;
	text-align: left;
}

#sliderBarTable {
	border: 1px #D3D3D3 solid;
	padding: 0px;
}

#sliderBarTable:hover {
	border: 1px #C3C3C3 solid;
}

#sliderBar td {
	width: 1px;
	height: 6px;
	padding: 0px;
}

.data {
	/* cells which have imagery */
	background-color: #EFEFEF;
	cursor: pointer;
	cursor: hand;
}

.data:hover,
.tdActive {
	/* cells which have imagery and mouse over them*/
	background-color: red;
	cursor: pointer;
	cursor: hand;
}

.nodata {
	/* cells which don't have imagery */
	background-color: #B3B3B3;
}

#sliderTicsTable {
	border-spacing: 0px;
	margin-left: 1px;
	padding: 0px;
	/* as the slider bar has a 1px border so we need to align jan with the first td */
}

#sliderTicsTable td {
	width: 11px;
	height: 5px;
	padding: 0px;
}

#sliderTicsTable .sliderTic {
	border-left: 1px solid #D3D3D3;
	box-sizing: content-box;
}

#sliderTicsTable .sliderNoTic {
	border-left: 1px solid white;
	box-sizing: content-box;
}

#sliderLabelsTable {
	margin-left: -17px;
	padding: 0px;
	/* to move the year labels to the correct place */
}

#sliderLabels td {
	width: 12px;
	padding: 0px;
}

.sliderLabel {
	transform: rotate(270deg);
	transform-origin: 19px;
	font-size: 11px;
	color: #555555;
	width: 12px;
}

#configImg {
	cursor: pointer;
	cursor: hand;
	position: absolute;
	top: 2px;
	right: 20px;
}

#closeImg {
	cursor: pointer;
	cursor: hand;
	position: absolute;
	top: 3px;
	right: 3px;
}

#sliderControls {
	vertical-align: bottom;
}

#yearMonth {
	margin-bottom: 7px;
	margin-left: 2px;
	font-size: 13px;
}

#ImageryTimeSliderControls {
	display: none;
	margin-top: 10px;
}

#ImageryTimeSliderControls * {
	font-size: 11px;
}

#ImageryTimeSliderControls table {
	padding: 3px;
}

#ImageryTimeSliderControls .noBorder {
	display: none;
}

#cloudMaxSpinner {
	width: 20px;
}

#helpImage {
	position: absolute;
	right: 6px;
	bottom: 6px;
}

#showImg {
	display: none;
	cursor: pointer;
	cursor: hand;
	position: absolute;
	/*z-index: 2147483647!important;*/
	background-color: rgba(255, 255, 255, 0.9);
}

#blockingDiv {
	position: absolute;
	height: 27px;
	width: 411px;
	z-index: 2147483647!important;
	top: 0px;
	left: 0px;
}

#infoBox {
	font-family: "Trebuchet MS";
	font-size: 0.8em;
}

#infoBox h1 {
	font-size: 2em;
	margin: 10px 0px 10px 0px;
}

#infoBox td {
	text-align: left;
}
