<div style="width:250px;">
	<div class="dijitDialogPaneContentArea">
		<div>
			Enter your login information:
		</div>
	</div>
	<div>
		<table>
			<tr>
				<td>User:</td>
				<td>
				<input type="text" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="username"/>
				</td>
			</tr>
			<tr>
				<td>Password:</td>
				<td>
				<input type="password" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="password"/>
				</td>
			</tr>
		</table>
	</div>
	<div class="dijitDialogPaneActionBar">
		<button	type="submit" data-dojo-type="dijit/form/Button" data-dojo-attach-point="login" disabled>
			Login
		</button>
		<button	type="button" data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancel">
			Cancel
		</button>
	</div>
</div>